<h1>New dose for <%= @cocktail.name %></h1>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.submit "add a new dose" %>
<% end %>
